<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fahmy.naghmaty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/naghmaty0icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.fahmy.naghmaty.Activities.MainActivity"
            android:label="@string/HomePage"
            android:theme="@style/AppTheme.NoActionBar">
                    <!--<intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>-->
        </activity>

        <service android:name="com.example.fahmy.naghmaty.Service.InstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.example.fahmy.naghmaty.Service.MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.example.fahmy.naghmaty.Activities.DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fahmy.naghmaty.Activities.MainActivity" />

        </activity>
        <activity android:name="com.example.fahmy.naghmaty.Activities.DetailsProjectsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fahmy.naghmaty.Activities.DetailsActivity" />

        </activity>
        <activity android:name="com.example.fahmy.naghmaty.Activities.SplashAboutActivity"></activity>
        <activity android:name="com.example.fahmy.naghmaty.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.e610.naghmaty.Data.CompanyCategoryProvider"
            android:authorities="Company.Category2"
            android:exported="true" />


    </application>


</manifest>